k9s:
    liveViewAutoRefresh: false
    screenDumpDir: "$HOME/Pictures/k9s"
    refreshRate: 1
    maxConnRetry: 5
    readOnly: false
    noExitOnCtrlC: false
    portForwardAddress: localhost
    ui:
        enableMouse: false
        headless: false
        logoless: false
        crumbsless: false
        reactive: false
        noIcons: false
        defaultsToFullScreen: false
        skin: cyberdream
    skipLatestRevCheck: false
    disablePodCounting: false
    shellPod:
        image: busybox:1.35.0
        namespace: default
        limits:
            cpu: 100m
            memory: 100Mi
    imageScans:
        enable: false
        exclusions:
            namespaces: []
            labels: {}
    logger:
        tail: 100
        buffer: 5000
        sinceSeconds: -1
        textWrap: false
        disableAutoscroll: false
        showTime: false
    thresholds:
        cpu:
            critical: 90
            warn: 70
        memory:
            critical: 90
            warn: 70
